@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'futura medium bt';
    src: url('./assets/fonts/futura/futura medium bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
